@import url(style.css);

.header_wrapper ul > li:nth-child(3) h4 {
  color: #c4a87e;
}

.content_wrapper {
  max-width: 1100px;
  margin: 0 auto;
  /* border: 1px solid #573e1a; */
  margin-bottom: 120px;
  margin-top: 35px;
}

/* ----------------------------content start------------------------------------------- */

h2 {
  /* border: 1px solid #573e1a; */
  margin: 35px auto 70px;
  position: relative;
}

h2::after {
  /* border: 1px solid #573e1a; */
  content: "";
  display: block;
  width: 134px;
  height: 133px;
  background-image: url(../img/circle.svg);
  position: absolute;
  left: 484px;
  top: -35px;
  z-index: -1;
}

/* ---------------content_top-------------------- */

.content_top p {
  font-size: 16px;
  border: 1px solid #c4a87e;
  border-radius: 10px;
  padding: 40px;
  color: #573e1a;
  font-family: Noto Sans TC;
  margin-bottom: 70px;
}

/* ---------------content_bottom-------------------- */

.content_bottom {
  border: 1px solid #c4a87e;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content_bottom ul {
  /* border: 1px solid #573e1a; */
  margin: 40px auto;
  display: inline-block;
  text-align-last: left;
  color: #573e1a;
}

.content_bottom p {
  margin: 8px 0;
  font-size: 16px;
}

.content_bottom .name {
  width: 260px;
  height: 42px;
  border: 1px solid #c4a87e;
  padding-left: 12px;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.female {
  width: 16px;
  height: 16px;
  margin-left: 25px;
  margin-right: 8px;
}

.male {
  width: 16px;
  height: 16px;
  margin-left: 25px;
  margin-right: 8px;
}

.content_bottom .phone {
  width: 520px;
  height: 42px;
  border: 1px solid #c4a87e;
  padding-left: 12px;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.content_bottom .email {
  width: 520px;
  height: 42px;
  border: 1px solid #c4a87e;
  padding-left: 12px;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.content_bottom textarea {
  width: 520px;
  border: 1px solid #c4a87e;
  padding-left: 12px;
  outline: 0;
  background-color: #f6f6f6;
  font-size: 16px;
  border-radius: 5px;
}

.content_bottom ol {
  display: flex;
}

.content_bottom ol .date {
  width: 218px;
  height: 42px;
  border: 1px solid #c4a87e;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  padding-right: 10px;

  position: relative;
  padding: 0px 1.4em 0px 0.8em;
  background-color: transparent;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0px 0px;
}

::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.content_bottom ol .time {
  width: 218px;
  height: 42px;
  border: 1px solid #c4a87e;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-left: 25px;
  padding-right: 10px;

  position: relative;
  padding: 0px 1.4em 0px 0.8em;
  background-color: transparent;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0px 0px;
}

.content_bottom ol li:last-child p {
  margin-left: 25px;
}

.content_bottom .partysize {
  width: 255px;
  height: 42px;
  border: 1px solid #c4a87e;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;

  padding: 0px 1.4em 0px 0.8em;
  appearance: none;
  background-color: transparent;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0px 0px;
}

.content_bottom .store {
  width: 255px;
  height: 42px;
  border: 1px solid #c4a87e;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 25px;
  margin-bottom: 10px;

  padding: 0px 1.4em 0px 0.8em;
  appearance: none;
  background-color: transparent;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0px 0px;
}

.send {
  width: 100%;
  height: 54px;
  background-color: #573e1a;
  color: white;
  border: 0;
  display: block;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Noto Serif TC", serif;
}

/* ----------------------------content end------------------------------------------- */
