@import url(style.css);
* {
  box-sizing: border-box;
}

.header_wrapper ul > li:nth-child(3) h4 {
  color: #c4a87e;
}

.content_wrapper {
  max-width: 1100px;
  margin: 0 auto;
  /* border: 1px solid #573e1a; */
  margin-bottom: 120px;
  margin-top: 35px;
}

/* ----------------------------content start------------------------------------------- */

h2 {
  /* border: 1px solid #573e1a; */
  margin: 35px auto 70px;
}

/* ---------------content_top-------------------- */

.content_top {
  border: 1px solid #c4a87e;
  border-radius: 10px;
  padding: 40px;
  color: #573e1a;
  margin-bottom: 70px;
}

.content_top p {
  font-size: 16px;
  color: #573e1a;
  font-family: Noto Sans TC;
  margin: 5px 0 15px 35px;
}

.content_top span,
i {
  font-family: Noto Sans TC;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
  color: #d1a817;
}

i {
  color: #d1a817;
}

.fa-phone,
.fa-regular {
  color: white;
}

/* ---------------content_bottom-------------------- */

.content_bottom {
  border: 1px solid #c4a87e;
  text-align: center;
  border-radius: 10px;
}

.content_bottom ul {
  /* border: 1px solid #573e1a; */
  margin: 40px auto;
  display: inline-block;
  text-align: left;
  color: #573e1a;
}

.content_bottom p {
  margin: 8px 0;
  font-size: 16px;
}

.content_bottom .name {
  width: 260px;
  height: 42px;
  border: 1px solid #c4a87e;
  padding-left: 12px;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.female {
  width: 16px;
  height: 16px;
  margin-left: 25px;
  margin-right: 8px;
}

.male {
  width: 16px;
  height: 16px;
  margin-left: 25px;
  margin-right: 8px;
}

.content_bottom .phone {
  width: 520px;
  height: 42px;
  border: 1px solid #c4a87e;
  padding-left: 12px;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.content_bottom .email {
  width: 520px;
  height: 42px;
  border: 1px solid #c4a87e;
  padding-left: 12px;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.content_bottom textarea {
  width: 520px;
  border: 1px solid #c4a87e;
  padding-left: 12px;
  padding-top: 12px;
  outline: 0;
  margin-bottom: 10px;

  font-size: 16px;
  border-radius: 5px;
}

.content_bottom ol {
  display: flex;
}

.content_bottom ol .date {
  width: 247px;
  height: 42px;
  border: 1px solid #c4a87e;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 5px;
  /* margin-bottom: 10px; */
  padding-right: 10px;

  position: relative;
  padding: 0px 1.4em 0px 0.8em;
  background-color: transparent;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0px 0px;
}

::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.content_bottom ol .time {
  width: 247px;
  height: 42px;
  border: 1px solid #c4a87e;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-left: 25px;
  padding-right: 10px;

  position: relative;
  padding: 0px 1.4em 0px 0.8em;
  background-color: transparent;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0px 0px;
}

.content_bottom ol li:last-child p {
  margin-left: 25px;
}

.content_bottom .partysize {
  width: 247px;
  height: 42px;
  border: 1px solid #c4a87e;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  /* margin-bottom: 10px; */

  padding: 0px 1.4em 0px 0.8em;
  appearance: none;
  background-color: transparent;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0px 0px;
}

.content_bottom .partysize_text {
  font-size: 12px;
  color: #d1a817;
  margin: 0;
  margin-bottom: 10px;
  width: 90%;
  font-weight: bold;
}

.content_bottom .store {
  width: 247px;
  height: 42px;
  border: 1px solid #c4a87e;
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 25px;
  /* margin-bottom: 10px; */

  padding: 0px 1.4em 0px 0.8em;
  appearance: none;
  background-color: transparent;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0px 0px;
}

.send {
  width: 525px;
  height: 54px;
  background-color: #573e1a;
  color: white;
  border: 0;
  display: block;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Noto Serif TC", serif;
  cursor: pointer;
}

.swal2-modal .swal2-title {
  background-image: none;
  width: auto;
  line-height: normal;
}

/* ----------------------------content end------------------------------------------- */

/* --------------------RWD start----------------------------- */

@media screen and (max-width: 414px) {
  .content_wrapper {
    width: 90%;
  }
  /* -----------------content_top------------------ */
  .contnet_top {
    /* width: auto; */

    /* margin: 0; */
    /* padding: 0; */
    /* margin: 0 auto; */
  }

  .content_top p {
    /* width: auto; */
    /* margin: 0; */
  }

  .content_top span,
  i {
    /* width: auto; */
    /* margin: 0; */
  }

  /* -----------------content_bottom------------------ */

  .content_bottom {
    /* width: 90%; */
    margin: 0 auto;
  }

  .content_bottom ul {
    width: 80%;
  }

  .content_bottom li {
    width: auto;
  }

  .content_bottom ol {
    flex-direction: column;
  }

  .content_bottom ol .partysize,
  .content_bottom ol .store,
  .content_bottom ol .time,
  .content_bottom ol .date,
  .content_bottom .phone,
  .content_bottom .email,
  .content_bottom textarea,
  .send {
    width: 100%;
  }

  .content_bottom ol .partysize {
    /* margin-bottom: 10px; */
  }

  .content_bottom ol .time,
  .content_bottom ol .store {
    margin-left: 0;
  }

  .content_bottom ol li:last-child p {
    margin-left: 0;
    padding-left: 0;
  }

  .content_bottom .name {
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
  }

  .content_bottom span {
    display: block;
    margin-bottom: 20px;
  }
  .female {
    margin-left: 0;
  }
}
