@import url(style.css);

.header_wrapper ul li:nth-child(2) h4 {
    color: #c4a87e;
  }
  
.header_wrapper ol li:last-child h4{
  color: white;
}

.header_wrapper ol li:last-child h4:hover{
  color: #c4a87e;
}

.content_wrapper {
    max-width: 1100px;
    margin: 0 auto;
    /* border: 1px solid #573e1a; */
    margin-bottom: 120px;
    margin-top: 35px;
  }

/* -----------content_tea--------------------- */

  .content_tea ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 71px;
    /* border: 1px solid #573e1a; */
  }
  
  .content_tea ul li {
    margin: 0 50px;
  }
  
  .content_tea li a {
    display: block;
    text-decoration: none;
    text-align: center;
  }
  
/* -----------content_space--------------------- */